<div>
  <div id="caloris-metadata">
    <div data-name="page_id" data-content="bravo-charlie"></div>
    <div data-name="page_title" data-content="Caloris Test Content Bravo-Charlie"></div>
    <div data-name="published" data-scheme="boolean" data-content="true"></div>
  </div>
  <div class="caloris-content">
    <h1>Bravo-Charlie</h1>
    <p>Hello charlie.</p>
    <p id="editable1" class="mercury-region" data-type="editable">Initial editable content. Rev 1</p>
  </div>
</div>
