<div>
  <div id="caloris-metadata">
    <div data-name="page_id" data-content="bravo-edit"></div>
    <div data-name="page_title" data-content="Caloris Test Content Bravo-Edit"></div>
    <div data-name="published" data-scheme="boolean" data-content="true"></div>
  </div>
  <div class="caloris-content">
    <h1>Bravo-Edit</h1>
    <p>Hello edit.</p>
    <p id="editable1" class="mercury-region" data-type="editable">Initial editable content. Rev 0.0</p>
  </div>
</div>
