<div>
  <div id="caloris-metadata">
    <div data-name="page_id" data-content="root"></div>
    <div data-name="page_title" data-content="Caloris Test Content"></div>
    <div data-name="published" data-scheme="boolean" data-content="true"></div>
    <div data-name="notes" data-content="These are the page notes for the root page."></div>
  </div>
  <div class="caloris-content">
    <h1>WWW Home</h1>
    <p>Hello world.</p>
    <p id="editable1" class="mercury-region" data-type="editable">Initial editable content. Rev 1</p>
  </div>
</div>
