<!doctype html>
<html>
  <head>
    <title><%= @metadata['page_title'] %></title>
    <%= stylesheet_link_tag "www/www" %>
  </head>
  <body>
    <div id="layout-header">
      Layout v2
      <%= yield :layout_header %>
    </div>
    <div id="layout-content">
      <%= yield :page_template %>
    </div>
  </body>
</html>
